<script setup>
// import { ref } from 'vue';

// props
// const props = defineProps({});

// events
// const emit = defineEmits(['']);

// reactive variables
// let foo = ref(null);

// computed properties
// const cfoo = computed(() => '');

// watchers
// watch(foo, (foo) => {});
</script>

<template>
    <div class="{{ lowerCase name }}"></div>
</template>

<style lang="scss">
.{{ lowerCase name }} {}
</style>
