/**
 CSS custom properties for opacity.
 */

:root {
    --f-opacity-0: 0;
    --f-opacity-1: 0.1;
    --f-opacity-2: 0.2;
    --f-opacity-3: 0.3;
    --f-opacity-4: 0.4;
    --f-opacity-5: 0.5;
    --f-opacity-6: 0.6;
    --f-opacity-7: 0.7;
    --f-opacity-8: 0.8;
    --f-opacity-9: 0.9;
}
