@mixin default-focus-ring {
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color;
}

@mixin no-input-arrows {
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type='number'] {
        -moz-appearance: textfield;
    }
}
